body {
    margin: 0;
    padding: 0;
}

main{
    padding-left: 1rem;
    padding-right: 1rem;
}
.headerClass{
    background-color: darkgrey;
    height: 2.5rem;

}

.title{
    text-align: center;
}


.buttons{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.buttons button{
    align-self: center;
    align-content: center;
    align-items: center;
}

.sections{
    align-self: center;
    align-content: center;
    align-items: center;
    display: flex;
    padding-top: 4rem;

}
.sections section {
    flex: 1; /* Hace que ocupen el mismo ancho */
    text-align: center;
}